
<h2 class="center">
  <i class="em em-us"><i class="em em-hocho"></i></i>
  {{#link-to 'index'}}Legislator Lookup {{/link-to}} |
  {{#link-to 'committees'}}Committees List {{/link-to}}
  <i class="em em-us"><i class="em em-hocho"></i></i>
</h2>
<div class="container">
  {{outlet}}
</div>
<h1 class="center">
  <i class="em em-envelope"><i class="em em-100"></i></i>
</h1>
