<h2 id="title">{{#link-to 'index'}}Legislator Lookup <i class="em em-hocho"><i class="em em-100"></i></i>{{/link-to}} |
   {{#link-to 'committees'}}Committees List <i class="em em-hocho"><i class="em em-100"></i></i>{{/link-to}}
   |
      {{#link-to 'committees'}}Committees List <i class="em em-hocho"><i class="em em-100"></i></i>{{/link-to}}</h2>
{{outlet}}
<h1>
  <i class="em em-envelope"><i class="em em-syringe"></i></i>
</h1>
