{{#each model.congressPersons.results as |congressPerson|}}
  {{congressperson-detail congressPerson=congressPerson}}
{{/each}}

<h3>Committees</h3>
{{#each model.committees.results as |committee|}}
<h5>{{#link-to 'committee' committee.committee_id}}{{committee.name}}{{/link-to}}</h5>
{{/each}}
